* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.8rem;
}

span {
  color: rgb(255, 57, 152);
}
p,
a {
  color: rgb(153, 153, 153);
}

section {
  padding-left: 20px;
  padding-right: 20px;
}
h1 {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 20px;
}
.menu {
  width: 25px;
  height: 4px;
  background-color: rgb(142, 131, 142);
  margin: 6px 0;
  border-radius: 6px;
}
.nav-desktop {
  display: none;
}
.launching {
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 40px;
}

.launch-p {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
}

.launching-left {
  width: 56%;
}

.launching-right img {
  max-width: 100%;
  max-height: 80%;
  position: absolute;
  left: 45%;
  top: -25px;
  overflow: hidden;
}

button {
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 100rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 3rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #ff3998, #fe7b4b, #c3b067);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

.free {
  background-image: url(assets/background.svg);
  background-position: center;
  background-size: cover;
  padding: 70px 30px 30px;
  max-width: 100%;
}
.free-text {
  text-align: start;
  max-width: 90%;
}
.free p {
  color: black;
}
.companies {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 100%;
  height: auto;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  column-gap: 50px;
  margin-right: 20px;
}
.companies-logo {
  overflow: hidden;
  max-width: 90%;
  margin-right: 25px;
  margin-left: 25px;
  padding-right: 15px;
  overflow: hidden;

  justify-self: center;
}
hr {
  color: rgb(142, 131, 142);
}
a {
  font-weight: 600;
  text-decoration: none;
}
.auction {
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-template-rows: 100px 400px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.about-auction {
  grid-column: 1/2;
  padding-bottom: 20px;
}
.nft-auction {
  border-radius: 12px;
  min-width: 300px;
  height: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.nft-cards {
  grid-column: 1/3;
  display: flex;
  column-gap: 25px;
  flex-wrap: nowrap;
  margin-top: 20px;
  height: auto;
}
.auction-info {
  background-color: rgb(224, 217, 224);
  padding-top: 15px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.nft-auction one {
  width: 300px;
  height: auto;
}
.info-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.nft-auction p {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.orange {
  color: orange;
}

.main-bottom {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 250px 250px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid rgb(142, 131, 142);
}
.launching-main {
  width: 56%;
  height: 100%;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.main-bottom-img {
  position: absolute;
  bottom: -15px;
  left: 220px;
}
.footer-info {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
}
.footer-logo {
  padding-top: 40px;
}

.footer-main {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 20px;
  padding-bottom: 30px;
}
.socials {
  display: flex;
  width: 100%;
  gap: 15px;
  width: 70px;
}

@media only screen and (min-width: 1024px) {
  body {
    max-width: 80%;
    padding: 20px;
  }

  .menu {
    display: none;
  }
  * {
    line-height: normal;
  }

  .nav-desktop {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: flex-start;
    max-width: 100%;
  }
  .launching-left {
    width: 40%;
    position: absolute;
    top: 10%;
  }
  .launching-left h1 {
    font-size: 3.5rem;
    font-weight: 800;
  }

  .sign-up {
    padding: 1rem 3rem;
  }
  a {
    font-weight: 400;
  }
  .launching-right img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 60%;
    top: -15px;
    overflow: hidden;
  }
  p {
    font-size: 0.9rem;
  }
  .free {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px;
    min-height: 200px;
    display: flex;
    align-items: end;
  }

  .companies {
    display: flex;
    max-width: 100%;
  }
  .companies-logo img {
    max-width: 90%;
  }

  .nft-cards {
    min-width: 100%;
  }
  .nft-auction {
    min-width: 22%;
  }
  .about-auction {
    grid-column: 1/3;
  }

  .main-bottom {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px;
  }
  .launching-main {
    width: 60%;
  }
  .launching-main button {
    font-size: 0.75rem;
    width: 150px;
    padding: 0.75rem 1.575rem;
  }
  .main-bottom-img {
    position: absolute;
    bottom: -15px;
    left: 70%;
  }
  .main-bottom-img img {
    width: 100px;
    height: auto;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    row-gap: 20px;
    align-items: first baseline;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    justify-content: center;
  }
  .footer-logo img {
    width: 50%;
    height: auto;
  }
  .footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .copyright {
    text-align: end;
  }
}
